.nav-bar-container {
  background-color: #ffffff33;
  display: flex;
  justify-content: space-between;
  height: 75px;
}

.logo-and-brand-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.logo-image {
  width: 45px;
  height: 45px;
}

.heading1 {
  font-size: 32px;
  color: #ffffff;
}

.score-container {
  display: flex;
  margin-right: 25px;
  align-items: center;
}

.heading2 {
  font-size: 32px;
  color: #ffffff;
  margin-right: 20px;
}
